<div class="dialog-container">


  <img alt="logo" src="assets/logo/HS-Augsburg_Logo_mit_Text.png">
  <h5>Bitte melden Sie sich an</h5>

  <form [formGroup]="myForm"
        (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput
             formControlName="username"
             placeholder="Benutzername:"
             type="name"
             tabindex="1"
             required>
      <mat-icon matSuffix>perm_identity</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             formControlName="password"
             placeholder="Passwort:"
             tabindex="2"
             [type]="hide ? 'password' : 'text'"
             required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <button class="button"
            (click)="onSubmit(); "
            mat-button
            tabindex="3"
            [disabled]="myForm.invalid">Anmelden
    </button>
  </form>
</div>
