.sidenav-container {
  width: 100vh;
  height: 100vh;
  border-left: 10px;
}

.example-container {
  position: absolute;
  top: 50px;
  bottom: 30px;
  left: 0;
  right: 0;
}

.sidenav-inhalt {
  display: inline-flex;
  align-items: left;
  width: 250px;
  background: rgba(255,240,0,0.2);
}

.sidenav-thema-aufgabe {
  width: 250px;

}

.sidenav-thema-header {
  display: block;
  width: 250px;
  bottom: 0;
  font-family: Times, serif, bold;
  font-size: 20px;
  padding: 5px 10px 6px;
  line-height: 1.5;
  color: rgb(255, 101, 0);
  cursor: pointer;
}

.menu-button {
  width: 190px;
  font-size: 18px;
  font-family: Times, serif;
  display: block;
  margin: 4px;
  border: solid;
  border-width: thin;
  border-color: rgb(255, 101, 0);
  background: rgba(255,240,0,0.2);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 50px;
}

.button-header {
  height: 50px;
  font-family: Times, serif;
  font-size: 110%;
  line-height: 1.5;
  color: rgb(255, 101, 0);
}

.image {
  width: 70px;
  height: auto;
}

.button-login {
  height: 50px;
  font-family: Times, serif;
  font-size: 110%;
  line-height: 1.5;
  position: absolute;
  right: 20px;
  color: rgb(255, 101, 0);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 40px;
  color: rgb(255, 101, 0)
}

.button-footer {
  height: 40px;
  font-family: Times, serif;
  font-size: 110%;
  line-height: 1.5;
  color: rgb(255, 101, 0);
  position: absolute;
  right: 20px;
}

#start, #impressum {
  display: block;
  font-family: Times, serif;
  margin: 8px;
  margin-bottom: 0;
  border: 2px solid rgb(255, 101, 0);
  height: 98%;
  size: auto;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

}

#mitte {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}

.aufgabe, .loesunguser, .bewertung, .musterl, .unit, .commentar {
  position: relative;
  text-align: center;
  font-family: Times, serif;
  margin: 8px;
  margin-top: 4px;
  border: 2px solid rgb(255, 101, 0);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/*
.kommentar{
  float: right;
  width: 48%;
}
.studbewertung {
  float: left;
  width: 48%;
  }
*/

label {
  display: block;
  text-align: center;
  position: relative;
  font-size: 20px
}

.textfeld, .textfeldkomment {
  height: 30vh;
  width: 95%;
  border: 1px solid rgb(255, 101, 0);
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.textfeldkomment {
  height: 10vh;
}

/*Ab hier nur Buttons die im Content sind, im div mitte*/
.clear {
  clear: both;
}

/*Hier noch div für position der unteren buttons-*/

.button-testen, .button-speichern, .button-next-aufgabe, .links-button-next-aufgabe, .rechts-button-next-aufgabe, .button-bewertung-schließen, .button-kommentar-senden {
  bottom: 0;
  margin: 4px;
  display: inline-block;
  font-family: Times, serif;
  padding: 5px 10px 6px;
  text-decoration: none;
  font-size: 110%;
  line-height: 1.5;
  border: solid;
  border-width: thin;
  border-color: rgba(195, 206, 206, 0.76);
  color: rgb(255, 101, 0);
  cursor: pointer;
  position: relative;
}

#button-aufgabe-rechts-links {
  margin-top: 4px;
  bottom: 0;
}

.links-button-next-aufgabe {
  float: left;
}

.rechts-button-next-aufgabe {
  float: right;
}


