.sidenav-container {
  width: 100vh;
  height: 100vh;
  border-left: 10px;
}

.example-container {
  position: absolute;
  top: 50px;
  bottom: 30px;
  left: 0;
  right: 0;
}

.sidenav-inhalt {
  display: inline-flex;
  align-items: left;
  width: 250px;
  background: rgb(236, 238, 239);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 50px;
}

.button-header {
  height: 50px;
  font-family: Times, serif;
  font-size: 110%;
  line-height: 1.5;
  color: rgb(255, 101, 0);
}

.image {
  width: 70px;
  height: auto;
}

.button-login{
  height: 50px;
  font-family: Times, serif;
  font-size: 110%;
  line-height: 1.5;
  position: absolute;
  right: 20px;
  color: rgb(255, 101, 0);
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 40px;
  color: rgb(255, 101, 0)
}
.button-footer{
  height: 40px;
  font-family: Times, serif;
  font-size: 110%;
  line-height: 1.5;
  color: rgb(255, 101, 0);
  position: absolute;
  right: 20px;
}


#start, #impressum {
  font-family: Times, serif;
  margin: 8px;
  margin-bottom: 0;
  border: 2px solid rgb(255, 101, 0);
  height:98%;
  size: auto;

}
.aufgabe, .loesunguser {
  position: relative;
  text-align: center;
  min-height:48%;
  font-family: Times, serif;
  margin: 8px;
  margin-top: 4px;
  border: 2px solid rgb(255, 101, 0);
}
.loesunguser{
  margin: 8px;
  margin-bottom: 0;
  margin-top: 4px;
}
label{
  display: block;
  text-align: center;
}

.button-speichern {
  background: #ebf5d7;
  color: green;
  font-weight: bold;
}

.button-abbruch {
  background: #ffebe6;
  color: red;
  font-weight: bold;
}

.button-next-aufgabe{
  color: rgb(255, 101, 0);
  background: blanchedalmond;
  font-weight: bold;
}

.textfeld{
  height: 30vh;
  width: 95%;

}
#mitte{
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}

.menu-button {
  width: 220px;
}
