.sidenav-container {
  width: 100vh;
  height: 100vh;
  border-left: 10px;
}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: rgb(255, 101, 0);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 50px;
}

.button-header {
  height: 50px;
  font-family: Times, serif;
  font-size: 110%;
  line-height: 1.5;
  color: rgb(255, 101, 0);
}

.image {
  width: 70px;
  height: auto;
}

.button-login{
  height: 50px;
  font-family: Times, serif;
  font-size: 110%;
  line-height: 1.5;
  position: absolute;
  right: 20px;
  color: rgb(255, 101, 0);
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 30px;
  color: rgb(255, 101, 0)
}
.button-footer{
  height: 30px;
  font-family: Times, serif;
  font-size: 110%;
  line-height: 1.5;
  color: rgb(255, 101, 0);
  position: absolute;
  right: 20px;
}


.start {
  font-family: Times, serif;
  margin: 8px;
  border: 2px solid rgb(255, 101, 0);
  min-height:80vh;

}
.aufgabe, .loesung{
  display: block;
  text-align: center;
  min-height:40vh;
  font-family: Times, serif;
  margin: 8px;
  border: 2px solid rgb(255, 101, 0);
}
label{
  display: block;
  text-align: center;
}

.button-speichern {
  background: #ebf5d7;
  color: green;
  font-weight: bold;
}

.button-abbruch {
  background: #ffebe6;
  color: red;
  font-weight: bold;
}

.button-next-aufgabe{
  color: rgb(255, 101, 0);
  background: blanchedalmond;
  font-weight: bold;
}

.textfeld{
  height: 30vh;
  width: 95%;

}
